*.a
*.o
*.d
*.elf
limine
iso_root
build
zig-*
.vscode
*.iso
ovmf*
*.log
compile_commands.json
include/autoconf.h
userspace/sysroot
initrd/modules/*
sbin/inputd
.config*
musl/.configured
docs/html/
docs/latex/
tools/docs/doxygen-*
userspace/lib/*
*.patch
.cache
generated
patche
userspace/ported/*