# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=0

# The entry name that will be displayed in the boot menu
:NaYa
    # Change the protocol line depending on the used protocol.
    PROTOCOL=stivale2
    KASLR=no

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///sources.elf
    MODULE_PATH=boot:///initrd.tar
    RESOLUTION=1280*720*32