# voxia.cfg
# Konfigurasi Clang untuk Voxia OS (x86_64, musl, dynamic linking)

# 1. Target Arsitektur dan ABI
--target=x86_64-pc-linux-musl

# 2. Path Sysroot (Sistem File Voxia)
# PENTING: Ubah path ini. Jika voxia.cfg berada satu level 
# dengan folder sysroot, kamu bisa menggunakan path relatif: --sysroot=./sysroot
--sysroot=../../root/sysroot

# 3. Gunakan LLVM Linker (LLD) alih-alih GNU ld
-fuse-ld=lld

# 4. Pengaturan Runtime LLVM (Pengganti libgcc)
--rtlib=compiler-rt
--unwindlib=none

# 5. Path Dynamic Linker di dalam file sistem Voxia
-Wl,-dynamic-linker=/lib/ld-musl-x86_64.so.1

# 6. (Opsional) Tambahan flag standar agar kode rapi
-Wall
-Wextra